:root {
  --primary-background-color: #2e2e2e;
  --quaternary-text-color: #ffe5b4;
  --primary-text-color: #fff;
  --secondary-text-color: #121212;
  --ternary-text-color: #00c0f1;
  --penitentiary-text-color: #ff0;
}
